body{
    background: url(./Images/Moon.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
form{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 400px;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    background-color: darkcyan;
    box-shadow: inset -5px -5px;
    border-radius: 25px;
}
form h1{
    color: white;
    font-size: 35px;
    border-bottom: 4px solid rgba(0, 0, 0, 0.5);
    margin: 50px;
    border: none;
    outline: none;
}
.box{
    padding: 15px;
    margin: 20px;
    width: 65%;
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: inset -3px -3px rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 35px;
}
#submit{
    padding: 10px 20px;
    margin-top: 50px;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: inset -3px -3px rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 35px;
}
::placeholder{
    color: white;
}